@media only screen and (min-width: 32.5em) {
    body {
        max-width: 700px;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .slideshow-images {
        width: 530%;
        left: -218%;
    }

    .dot {
        width: 15px;
        height: 15px;
    }
}